{% extends "base.html"%}
{% block start %}

<div class = "container mt-5">
    <form class = "col-6 mx-auto shadow-lg card p-3"method = "post" enctype = "multipart/form-data">
        {% csrf_token %}
        <h2>ADD Rceipes:- </h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe name</label>
          <input name = "receipe_name" required type="text" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
          <textarea name = "receipe_description" class = "form-control" required ></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
            <input name = "receipe_image" type="file" class="form-control" >
          </div>
        <button type="submit" class="btn btn-success">Add Receipe</button>
     </form>
     <hr>
     <div class = "mt-5">
      <div class = "mx-auto col-6">
        <div class="mb-3 position-relative">
          <label for="searchInput" class="form-label">Search Food</label>
          <div class="input-group">
              <input name="search" required type="text" class="form-control" placeholder="Search...">
              <button type="submit" class="btn btn-primary">
                  <i class="fas fa-search"></i> <!-- Font Awesome Search Icon -->
              </button>
          </div>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
      </div>

      </div>
     </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Receipe name</th>
            <th scope="col">Receipe Desc</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for receipe in receipes%}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td>
              <img src="{{ receipe.receipe_image.url }}" alt="Image" width="100"></td>
            <td>
              <a href = "/delete_receipe/{{receipe.id}}/" class = "btn btn-danger m-2">Delete</a >
              <a href = "/update_receipe/{{receipe.id}}/" class = "btn-btn-success">Update</a >
                  </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>


{% endblock %}